body {
    margin: 0;
    padding: 70px;
    background-color: #adadad;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
}
.card {
    width: 7%;
    height: 80vh;
    position: relative;
    transition: 0.8s;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
h2 {
    position: absolute;
    bottom: 20px;
    left: 10%;
    color: white;
    font-size: 200%;
    display: none;
}
.card.show {
    width: 70%;
}
.card.show h2 {
    display: block;
}